body{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #E5E5E5;
    color:#75B79E;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1{
    height: 68px;
    width: 590px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
ul{
    width: 70vw;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
ul img{
    height: 100px;
    width: 100px;
}
.normal{
    width: 117px;
    height: 145px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
ul li{
    width: 117px;
    height: 145px;
    background: #A7E9AF;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.esconder{
    display: none;
}